.containerThree {
    border: solid black;
}

body {
    background-image: url("images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 100px;
    text-align: center;
}

.containerOne {

    padding: 30px;
    text-align: center;

}

.containerTwo {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 15px;
}

button {
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Special Elite', cursive;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 22px;
    width: 160px;
    height: 80px;
    border: solid black;
    border-radius: 5px;
    
}

.link:hover {
    color: magenta
}


button:hover {

    color: magenta;
}

.containerThree {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#gridBox {
    text-align: center;
    background-color: white;
    border: solid black;
    width: 7600px;
    height: 760px;
    display: grid;
    background-color: white;

}


.rainbowBtn {
    background: linear-gradient(124deg, #ff2400, #e81d1d, blue, #e3e81d, #1de840, #1ddde8, red, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 6s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

.blackBtn {
    color: white;
    background-color: black;
}

.dropbtn, .dropbtnTwo {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: solid black;
    cursor: pointer;
}

.dropbtnTwo:hover,
.dropbtnTwo:focus {
    background-color: white;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: white;
}

.dropdown, .dropdownTwo {
    position: relative;
    display: inline-block;
}

.dropdownMenu, .dropdownMenuTwo {
    background: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdownMenu p {
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 4px;
    font-weight: bolder;
    text-decoration: none;
    display: block;
}

.dropdown p:hover {
    color: magenta;
}

.dropdownMenuTwo p {
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 4px;
    font-weight: bolder;
    text-decoration: none;
    display: block;
}

.dropdownTwo p:hover {
    color: magenta;
}

.show, .showTwo {
    display: block;
}

#gridBox {
    display: grid;
    background-color: white;
    padding: 1px;
}

.gridSizeSixteen, .gridSizeFourtyEight, .gridSizeNinetySix {
    border: 1px solid lightgrey;
    text-align: center;
    padding: auto;
}
.resetBtn{
    background-color: rgba(32, 100, 178, 0.418);
}
.resetBtn:hover{
    color: white;
}

.rainbowColor{
        -webkit-animation: random 0.1s ease-in;
        animation: random 5s infinite;
   }
   @keyframes  random {
       15% { background-color: red; } 
       30% { background-color: orangered; } 
       45% { background-color: yellow; } 
       60% { background-color: green; }
       75% { background-color: blue; }
       90% { background-color: indigo;}  
   }

.blackColor{
    animation-play-state: paused;
    background-color: black;
}

.whiteColor{
    animation-play-state: paused;
    background-color: white;
}

.redColor{
    animation-play-state: paused;
    background-color: red;
}
.orangeColor{
    animation-play-state: paused;
    background-color: orangered;
}

.yellowColor{
    animation-play-state: paused;
    background-color: yellow;
}
.greenColor{
    animation-play-state: paused;
    background-color: green;
}

.blueColor{
    animation-play-state: paused;
    background-color: blue;
}

.purpleColor{
    animation-play-state: paused;
    background-color: purple;
}
.magentaColor{
    animation-play-state: paused;
    background-color: magenta;
}